.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: var(--0d0c11, #0d0c11);
  height: 3113px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1436.36px;
  top: -63.46px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.rectangle-18 {
  width: 2025.53px;
  height: 274.94px;
  position: absolute;
  left: -105.1px;
  top: 1919px;
  transform: translate(105.1px, -192px);
  overflow: visible;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 145px;
  top: 220px;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.h-1-heading {
  color: #ffffff;
  text-align: left;
  font-family: var(--h1-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h1-heading-font-size, 120px);
  line-height: var(--h1-heading-line-height, 100%);
  font-weight: var(--h1-heading-font-weight, 800);
  position: relative;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1221px;
  position: relative;
}
.h-1-heading2 {
  background: var(
    --linear1,
    linear-gradient(
      180deg,
      rgba(253, 253, 253, 1) 0%,
      rgba(205, 205, 205, 1) 64.99999761581421%,
      rgba(155, 155, 155, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(--h1-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h1-heading-font-size, 120px);
  line-height: var(--h1-heading-line-height, 100%);
  font-weight: var(--h1-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.paragraph-text {
  color: var(--afafaf, #afafaf);
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.primary-button {
  background: var(--be1247, #be1247);
  border-radius: 31px;
  padding: 22px 60px 22px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: var(--d2d2d2, #d2d2d2);
  text-align: left;
  font-family: var(
    --ui-label-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--ui-label-semibold-font-size, 18px);
  line-height: var(--ui-label-semibold-line-height, 150%);
  font-weight: var(--ui-label-semibold-font-weight, 600);
  position: relative;
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.more {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 361px;
  top: 1008px;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.h-1-heading3 {
  background: var(
    --linear1,
    linear-gradient(
      180deg,
      rgba(253, 253, 253, 1) 0%,
      rgba(205, 205, 205, 1) 64.99999761581421%,
      rgba(155, 155, 155, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  width: 614px;
}
.paragraph-text2 {
  color: var(--afafaf, #afafaf);
  text-align: center;
  font-family: var(
    --p2-paragraph-medium-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p2-paragraph-medium-font-size, 20px);
  line-height: var(--p2-paragraph-medium-line-height, 150%);
  font-weight: var(--p2-paragraph-medium-font-weight, 400);
  position: relative;
  width: 1036px;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1197px;
  position: relative;
}
._9-ee-400-d-978423-de-4957-df-734411-bc-68-1 {
  border-radius: 180px 0px 0px 0px;
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  object-fit: cover;
}
._1-f-1-e-33582-fcc-5-af-4246524-dcb-173-c-9-f-7-1 {
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  object-fit: cover;
}
._9-dcf-5-d-7-baafb-8-f-8781-ac-3-b-9951-b-3358-1 {
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  object-fit: cover;
}
.frame-16 {
  padding: 10px 26px 10px 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
}
.frame-15 {
  border-radius: 30px 0px 30px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 10px 55px 10px 55px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.click-to-view {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --ui-label-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--ui-label-semibold-font-size, 18px);
  line-height: var(--ui-label-semibold-line-height, 150%);
  font-weight: var(--ui-label-semibold-font-weight, 600);
  position: relative;
}
.rectangle-27 {
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  overflow: visible;
}
._0-b-60-afe-9-ae-3-fb-394-ed-6-a-121954-f-4-d-5-e-3-removebg-1 {
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  object-fit: cover;
}
._415-f-99-ecf-5-d-1-fca-83858229012-ef-27-b-1 {
  flex-shrink: 0;
  width: 276px;
  height: 404px;
  position: relative;
  object-fit: cover;
}
.rectangle-29 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 276px;
  height: 405px;
  position: relative;
  overflow: visible;
  object-fit: cover;
}
